# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database
*.db
*.sqlite3

# Virtual env
venv/

# VS Code
.vscode/

# Ruff cache
.ruff_cache/

# Logs
*.log

# OS
Thumbs.db
.DS_Store